<!DOCTYPE html>
<html>
  <head>
    <title>Website in Table</title>
    <!-- for font icons -->
    <link
      rel="stylesheet"
      type="text/css"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>

  <body style="margin: 0">
    <!---------------------------------- Start Header ------------------>
    <table
      border="0"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      bgcolor="#f3971b"
    >
      <tr>
        <td>
          <table
            border="0"
            width="85%"
            cellpadding="15"
            cellspacing="0"
            align="center"
          >
            <tr>
              <td><!-- title -->
                <font face="arial" color="black" size="5">
                  <strong>Web.dev.101</strong>
                </font>
              </td>

              <td width="20%">&nbsp;</td>

              <td> <!-- home -->
                <a href="/">
                  <font face="arial" color="#ffffff" size="3"> Home </font></a
                >
              </td>

              <td><!-- course details -->
                <a href="#courseDetails">
                  <font face="arial" color="#ffffff" size="3"> CourseDetails </font></a
                >
              </td>

              <td><!-- project details -->
                <a href="#ProjectDetails">
                  <font face="arial" color="#ffffff" size="3">
                    ProjectDetails
                  </font></a
                >
              </td>

              <td><!-- team -->
                <a href="#team">
                  <font face="arial" color="#ffffff" size="3"> Team </font></a
                >
              </td>

              <td> <!-- contact -->
                <a href="#comment">
                  <font face="arial" color="#ffffff" size="3">
                    comment
                  </font></a
                >
              </td>

            </tr>
          </table>
        </td>
      </tr>
    </table>
    <!----------- End Header -->

 



    <!---------------------------------- Start Course Details --------------- -->
    <table
      border="0"
      id="courseDetails"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      bgcolor="#353535"
    >
      <tr>
        <td>
          <table
            border="0"
            width="85%"
            cellpadding="15"
            cellspacing="0"
            align="center"
          >
            <!-- Heading Start-->
            <tr>
              <td height="160" align="center" valign="middle" colspan="2">
                <font face="arial" size="6" color=" #f3971b"> Course Details </font>
                <hr width="70" color="#f3971b" />
              </td>
            </tr>
            <!-- Heading  End-->
            <tr>
              
              <td width="65%" valign="top">
                <table
                  border="0"
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  align="center"
                >
                  
                  <tr>
                    <td>
                      <font face="arial" size="5" color=" #ffffff">
                        The topics covered in the class
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td>

                      <p>
                        <font face="arial" size="3" color="#c2c0c3">
                          Lorem ipsum  nisi.
                        </font>
                      </p>

                      <hr noshade />
                      <br />
                      
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- section padding bottom -->
            <tr>
              <td height="60" colspan="2"></td>
            </tr>
            <!-- section padding bottom End-->
          </table>
        </td>
      </tr>
    </table>
    <!-- End Course Details -->



    <!---------------------------------- Start Project Details --------------- -->
    <table
      border="0"
      id="ProjectDetails"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      bgcolor="#292929"
    >
      <tr>
        <td>
          <table
            border="0"
            width="85%"
            cellpadding="15"
            cellspacing="0"
            align="center"
          >
            <!-- Heading Start-->
            <tr>
              <td height="160" align="center" valign="middle" colspan="2">
                <font face="arial" size="6" color=" #f3971b"> Project Details </font>
                <hr width="70" color="#f3971b" />
              </td>
            </tr>
            <!-- Heading  End-->
            <tr>
              
              <td width="65%" valign="top">
                <table
                  border="0"
                  width="100%"
                  cellpadding="0"
                  cellspacing="0"
                  align="center"
                >
                  
                  <tr>
                    <td>
                      <font face="arial" size="5" color=" #ffffff">
                        The topics covered in this project
                      </font>
                    </td>
                  </tr>
                  <tr>
                    <td>

                      <!------------------ main works here ------------------>
                      
                        <div class="container">
                          <ul id="todo"></ul>
                          <ul id="projectDetailsList" style="font: size 5px">
                            <li>
                              
                              <input type="text" id="newText" placeholder="Create new todo!!" spellcheck="false" autocomplete="off" onkeypress="submitOnEnter(event)">
                              <button onclick="add()" id="button"> + </button>
                              <button onclick="add()" id="button"> x </button>
                            </li>
                            <li style="color:rgb(255, 255, 255)">Coffee</li>
                          </ul>
                        </div>
                      
                      <!------- main works ends here -------->
                      
                      <hr noshade />                      
                    </td>
                </table>
              </td>
            </tr>
            <!-- section padding bottom -->
            <tr>
              <td height="60" colspan="2"></td>
            </tr>
            <!-- section padding bottom End-->
          </table>
        </td>
      </tr>
    </table>
    <!-- End Project Details -->



    <!---------------------------------- Start team --------------- -->
    <table
      border="0"
      id="team"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      bgcolor="#353535"
    >
      <tr>
        <td>
          <table
            border="0"
            width="85%"
            cellpadding="15"
            cellspacing="0"
            align="center"
          >
            <!-- Heading Start-->
            <tr>
              <td height="160" align="center" valign="middle" colspan="3">
                <font face="arial" size="6" color=" #f3971b"> Team </font>
                <hr width="70" color="#f3971b" />
              </td>
            </tr>
            <!-- Heading  End-->
            <tr>
              <td width="33.33%" valign="top">
                <table
                  border="0"
                  width="100%"
                  cellpadding="15"
                  cellspacing="0"
                  align="center"
                  bgcolor="#292929"
                >
                  <tr>
                    <td>
                      <br /><br />
                      <font face="arial" size="5" color="#ffffff">
                        Adnan Saif 
                      </font>
                      <br /><br />
                      <font face="arial" size="4" color="#f3971b">
                        ID: 173011154
                      </font>
                    </td>
                  </tr>
                </table>
              </td>

              <td width="33.33%" valign="top">
                <table
                  border="0"
                  width="100%"
                  cellpadding="15"
                  cellspacing="0"
                  align="center"
                  bgcolor="#292929"
                >
                  <tr>
                    <td>
                      <br /><br />
                      <font face="arial" size="5" color="#ffffff">
                        MD Eunusur Rahaman Bhuiyan <br /><br />
                        [Team Leader]
                      </font>
                      <br /><br />
                      <font face="arial" size="4" color="#f3971b">
                        ID: 181014117
                      </font>
                    </td>
                  </tr>
                </table>
              </td>

              <td width="33.33%" valign="top">
                <table
                  border="0"
                  width="100%"
                  cellpadding="15"
                  cellspacing="0"
                  align="center"
                  bgcolor="#292929"
                >
                  <tr>
                    <td>
                      <br /><br />
                      <font face="arial" size="5" color="#ffffff">
                        Naimul Hassan Niloy 
                      </font>
                      <br /><br />
                      <font face="arial" size="4" color="#f3971b">
                        ID: 181014097
                      </font>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- section padding bottom -->
            <tr>
              <td height="60" colspan="3"></td>
            </tr>
            <!-- section padding bottom End-->
          </table>
        </td>
      </tr>

      <tr>
        <td>
          <table
            border="0"
            width="85%"
            cellpadding="15"
            cellspacing="0"
            align="center"
          >
            <tr>
              <td width="33.33%" valign="top">
                <table
                  border="0"
                  width="100%"
                  cellpadding="15"
                  cellspacing="0"
                  align="center"
                  bgcolor="#292929"
                >
                  <tr>
                    <td>
                      <br /><br />
                      <font face="arial" size="5" color="#ffffff">
                        Sadia Anzum Jui 
                      </font>
                      <br /><br />
                      <font face="arial" size="4" color="#f3971b">
                        ID: 181014100
                      </font>
                    </td>
                  </tr>
                </table>
              </td>

              <td width="33.33%" valign="top">
                <table
                  border="0"
                  width="100%"
                  cellpadding="15"
                  cellspacing="0"
                  align="center"
                  bgcolor="#292929"
                >
                  <tr>
                    <td>
                      <br /><br />
                      <font face="arial" size="5" color="#ffffff">
                        Towhid Hassan Sakib 
                      </font>
                      <br /><br />
                      <font face="arial" size="4" color="#f3971b">
                        ID: 181014118
                      </font>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- section padding bottom -->
            <tr>
              <td height="60" colspan="3"></td>
            </tr>
            <!-- section padding bottom End-->
          </table>
        </td>
      </tr>

    </table>
    <!-- End Team -->



    <!-------------------------- Start Contact -------------------------->

    <table
      border="0"
      id="comment"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      bgcolor="#292929"
    >
      <tr>
        <td>
          <table
            border="0"
            width="85%"
            cellpadding="15"
            cellspacing="0"
            align="center"
          >
            <!-- Heading Start-->
            <tr>
              <td height="160" align="center" valign="middle">
                <font face="arial" size="6" color=" #f3971b"> Comment on the project </font>
                <hr width="340" color="#f3971b" />
              </td>
            </tr>
            <!-- Heading  End-->
            <tr>
              <td align="center" valign="top">
                <table
                  border="0"
                  width="55%"
                  cellpadding="20"
                  cellspacing="0"
                  align="center"
                  bgcolor="#353535"
                >
                  <tr>
                    <td>
                      <table
                        border="0"
                        width="100%"
                        cellpadding="15"
                        cellspacing="0"
                        align="center"
                        bgcolor="#353535"
                      >
                       
                        <tr>
                          <td width="30%">
                            <font face="arial" size="4" color="#ffffff">
                              comment
                            </font>
                          </td>
                          <td width="70%">
                            <textarea cols="51" rows="4"></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td width="30%">&nbsp;</td>
                          <td width="70%">
                            <button type="submit">
                              <font size="2" face="arial">Send Message</font>
                            </button>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <!-- section padding bottom -->
            <tr>
              <td height="60"></td>
            </tr>
            <!-- section padding bottom End-->
          </table>
        </td>
      </tr>
    </table>
    <!-- End Contact -->



    <!-------------------------- Start Footer -------------------------->
    <table
      border="0"
      width="100%"
      cellpadding="0"
      cellspacing="0"
      bgcolor="#353535"
    >
      <tr>
        <td>
          <table
            border="0"
            width="85%"
            cellpadding="15"
            cellspacing="0"
            align="center"
          >
            <tr>
              <td width="33.33%" valign="top">
                <table
                  border="0"
                  width="100%"
                  cellpadding="15"
                  cellspacing="0"
                  align="center"
                >
                  <tr>
                    <td align="center" valign="top">
                      <font color="#f3971b" size="6">
                        <span class="fa fa-phone"></span>
                      </font>
                      <br /><br />
                      <font color="#ffffff" size="5" face="arial">
                        Phone No
                      </font>
                      <p>
                        <font color="#c2c0c3" size="3" face="arial">
                          +8801521430101
                        </font>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>

              <td width="33.33%" valign="top">
                <table
                  border="0"
                  width="100%"
                  cellpadding="15"
                  cellspacing="0"
                  align="center"
                >
                  <tr>
                    <td align="center" valign="top">
                      <font color="#f3971b" size="6">
                        <span class="fa fa-envelope"></span>
                      </font>
                      <br /><br />
                      <font color="#ffffff" size="5" face="arial"> Email </font>
                      <p>
                        <font color="#c2c0c3" size="3" face="arial">
                          eunusur.rahaman.cse@ulab.edu.bd
                        </font>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>

              <td width="33.33%" valign="top">
                <table
                  border="0"
                  width="100%"
                  cellpadding="15"
                  cellspacing="0"
                  align="center"
                >
                  <tr>
                    <td align="center" valign="top">
                      <font color="#f3971b" size="6">
                        <span class="fa fa-map-marker"></span>
                      </font>
                      <br /><br />
                      <font color="#ffffff" size="5" face="arial">
                        Location
                      </font>
                      <p>
                        <font color="#c2c0c3" size="3" face="arial">
                          Mirpur,Dhaka.
                        </font>
                      </p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td colspan="3">
                <hr noshade />
              </td>
            </tr>
        </td>
      </tr>
    </table>
    <!-- End Footer -->

  </body>
</html>
